body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container{
	max-width: 1250px;
	width: 100%;
	margin: auto;
}

.hero_content h1{
	font-weight: 700;
	font-size: 60px;
	line-height: 130%;
	letter-spacing: -0.02em;
	color: #575757;
}
.hero_content h1 span{
	color: #FB8B47;
}
.colro1{
	color: #FB8B47;
}
.colro2 {
    color: green !important;
}
span{
	color: blue;
}


.hero_image {
    width: 50%;
    float: left;
}
.hero_content {
    width: 50%;
    float: left;
}
.hero_section {
    background: #FFF;
    padding-top: 191px;
    padding-bottom: 52px;
    overflow: hidden;
}
.hero_content p{
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	letter-spacing: -0.02em;
	color: #828282;
	padding-top: 40px;
	padding-bottom: 49px;
}
.btn_style a {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 22px 43px;
    font-family: 'Poppins', sans-serif;
    transition: 0.6s;
}
.btn_style a:hover{
    background: linear-gradient(88.33deg, #FF1E1E -7.64%, #FBA24F 145.94%);
    transition: 0.6s;
    color: #000;
}


/*About Secion Css */

.about_section{
  padding-top: 64px;
  background: rgba(252, 143, 73, 0.1);
  overflow: hidden;
  position: relative;
}
.about_image{
  width: 50%;
  float: left;
}
.about_content{
  width: 50%;
  float: left;
}
.about_content h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #707070;
  padding-bottom: 32px;
}
.about_content p{
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  padding-bottom: 90px;
}

.about_section:after {
    position: absolute;
    content: " ";
    width: 200px;
    height: 100px;
    background: url('../image/Half_s.png');
    background-repeat: no-repeat;
    top: 50px;
    right: -45px;
    background-size: cover;
}
/*.about_section:before {
    position: absolute;
    content: " ";
    width: 150px;
    height: 150px;
    background: url('../image/dot_vactor.png');
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
}*/
.left_vactor_image {
    position: absolute;
    left: 0;
    bottom: 48px;
}

.left_vactor_image_2 {
    position: absolute;
    bottom: 0;
    right: 0;
}